@import url('https://www.fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,119,1) 0%, rgba(255,0,91,1) 100%);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* layout */
main {
    position: relative;
    margin: 60px;
    width: 1000px;
    height: 593px;
    background-color: rgba(255, 255, 255, 0.35);
    background-repeat: no-repeat;
    backdrop-filter: blur(200px);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.25);
    filter: blur();
    border-radius: 16px;
    overflow: hidden;
    display: flex;
}

.player {
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.player-active {
    background-color: rgba(255, 255, 255, 0.6);
}

.player-active .name {
    font-weight: 700;
}

.player-active .score {
    font-weight: 400;
}

.player-active .current {
    opacity: 1;
}

/* Elements */
.name {
    position: relative;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 100px;
    top: 64px;
}

.score {
    position: relative;
    color: #c7365f;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: auto;
}

.current {
    text-align: center;
    color: #fff;
    background-color: #c7365f;
    width: 35%;
    padding: 32px;
    border-radius: 16px;
    font-size: 18px;
}

.current-label {
    text-transform: uppercase;
    color: #ddd;
    margin-bottom: 16px;
    font-size: 20px;
}

.current-score {
    font-size: 48px;
}


/*absolute elements*/
.btn {
    position: absolute;
    color: #444;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border: none;
    left: 40%;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    padding: 14px 36px;
    border-radius: 100px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-transform: uppercase;
}

.btn--new {
    top: 5%;
}

.btn--roll {
    top: 65%;
}

.btn--hold {
    top: 80%;
    left: 42%;
}

.dice {
    position: absolute;
    height: 90px;
    top: 27%;
    left: 455px;
}



